.features {
    background-color: var(--background-color-white);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        & {
            padding: 94px 0 0 0;
        }
    }  

    &__list {
        display: inline-block;
    }
    
    &__item {
        margin-bottom: 30px;
    }
    
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 120px;
        // width: 450px;
        // height: 120px;
    
        background-color: var(--background-color-light-gre—É);
        border-radius: 4px;
    }
    
    &__article {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        @media (max-width: 767px) {
            & {
                text-align: center;
            }}

    }
    
    &__text {
        color: var(--color-accent-three);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

}

@media screen and (min-width: 768px) {
    .features__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    .features__item {
        width: 354px;
        margin: 15px;
    }

}

@media screen and (min-width: 1200px) {
    .features__list {
        display: flex;
        flex-wrap: wrap;

    }
    .features__item {
        width: 270px;

    }

}