.header {
    background-color: var(--background-color-white);
    border-bottom: 1px solid #ECECEC;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav__logo  {
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-accent);
    
        
    &--header {
    color: var(--color-accent-four);
    }   
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;

    &__toggle {
        position: absolute;
        top: 11px;
        right: 7px;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        outline: none;
    }

    @media (min-width: 480px) {
        &__toggle {
            display: none;
        }
    }


    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 32px;
        background-color: var(--background-color-white);
        z-index: 999;
        transform: translateX(100%);
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__list {
        padding: 0;
        margin: 0;
    }

    &__container.is-open {
        transform: translateX(0);    
    }
    

    &__icon-close {
        display: block;
        width: 19px;
        height: 19px;
        fill: var(--color-accent);
    }

    &__icon-menu {
        display: block;
        width: 24px;
        height: 16px;
        fill: var(--color-accent);
    }

    &__icon-close:hover {
        fill: var(--color-accent-four);
    }

    &__list &__item:not(:last-child) {
        margin-bottom: 32px;
    }
    
    // &__item {
    // position: relative;}
    
    &__item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    // width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-color-blue);
    opacity: 0;}
    

    
    @media (max-width: 767px) {
        &__item.current::after  {
            display: none;
        }
    }

    &__link:hover {
    color: var(--color-accent-four);}
    
    &__link {
    // display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;

    color: var(--color-accent);
    // font-weight: 500;
    // line-height: 1.14;
    // letter-spacing: 0.02em;

    // transition: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;

    }
}


@media (max-width: 479px) {
    .menu {
        display: none;
    }
}


.nav-contacts {
    // display: flex;
    // margin-left: auto;
    // align-items: center;
    
    & .menu__item+.menu__item {
    margin-left: 50px;}
    
    & .menu__item+.menu__item {
    margin-left: 50px;}
    
    &__link {
    font-weight: 500;
    color: var(--color-accent-three);
    fill: var(--color-accent-three);
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    // display: flex;
    // align-items: center;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
    // &__list:not(:first-child) {
    // margin-left: 30px;}
    &__link:hover, &__link:focus {
    color: var(--color-accent-four);}

    &__link:hover, &__link:focus {
    fill: var(--color-accent-four);}
    
    &__icon {
    margin-right: 10px;}
    
}

.desctop {
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__item {
        padding: 32px 0 28px 0;
        position: relative;
    }

    &__link {
        display: inline-block;
   
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--color-accent);
        -webkit-transition: color 250ms var(--cubic-bezier);
        transition: color 250ms var(--cubic-bezier);
    }

    &__item.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--background-color-blue);
        opacity: 1;
    }

    &__item:not(:first-child) {
        margin-left: 50px;
    }
}

.desctop-nav {
    &__list {
        margin-left: 84px;
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.16;
        color: var(--color-accent-three);
    }


    @media screen and (min-width: 768px) {
        &__icon {
            display: inline-block;
            margin-right: 10px;
            fill: currentColor;
        }
    }


    &__link {
        line-height: 1.16;
        color: var(--color-accent-three);
    }

    @media screen and (min-width: 767px) {
        &__link {
            display: flex;
            align-items: center;
            font-size: 12px;
            margin-bottom: 10px;
        }
    }

        @media screen and (min-width: 1200px) {
        &__list {
            display: flex;
            align-items: center;
        }
        &__item {
            margin-right: 10px;
        }
        &__link {
            margin-bottom: 0;
        }

    }
}


@media (max-width: 767px) {
    .desctop__list,
    .desctop-nav__list {
        display: none;
    }
}


@media (max-width: 767px) {
    .nav-contacts {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-top: 302px;
        margin-bottom: 64px;
    }
}

@media (max-width: 767px) {
    .nav-contacts__list:nth-last-child(1) {
        margin-bottom: 32px;
    }
}


@media (max-width: 767px) {
    .nav-contacts__link {
        padding: 0;
        font-size: 34px;
        line-height: 1.176;
        color: var(--color-accent-four);
    }
    .nav-contacts__link--accent {
        color: var(--color-accent-three);
        font-weight: 500;
        font-size: 24px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        text-decoration: none;
    } 
}

@media (max-width: 767px) {
    .nav-contacts__icon {
        display: none;
    }
}

.social-string__link {
    display: inline-block;
    text-decoration: none;
    padding: 0 10px;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: var(--color-accent-four)
}

.social-string__item {
    margin-top: 10px;
}

@media (max-width: 480px) {
    .social-string {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    top: -10px;}
}
