.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width:768px) {
        background-size: auto;
    }

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url('../images/hero-480.jpg');
    // background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width:768px) {

        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url('../images/hero-768.jpg');
    }
    @media screen and (min-width:1200px) { 

        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url('../images/hero-1200.jpg');
                    background-size: cover;
    }
    

    &__container {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 480px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        text-align: center;
        @media screen and (min-width:768px) {
            width: 768px;
        }
        @media screen and (min-width:1200px) {
            width: 1200px;
            height: 600px;
            padding-top: 200px;
            padding-bottom: 200px;
        
        }
    }


    &__title {
        color: var(--color-accent-two);

        margin: 0 auto 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: .06em;
        text-transform: uppercase;

        @media screen and (min-width:768px) {
            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            padding-left: 189px;
            padding-right: 189px;
        }

        @media screen and (min-width:1200px) {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }

    }
    
    &__button {
        background-color: var(--background-color-blue);
        color: var(--color-accent-two);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        cursor:pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        padding: 10px 24px;
        width: 200px;
    }
}

.backdrop-box {
    z-index: 1;
    transition: 250ms;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    /* Для BEM class backdrop-box, .is-hidden
.backdrop--box--hidden */
}




