:root {
    --background-color-accent: #2F303A;
    --background-color-grey: #e5e5e5;
    --background-color-white: #ffffff;
    --background-color-light-greу: #F5F4FA;
    --background-color-blue: #2196F3;
    --background-color-social: #afb1b8;

    --color-accent: #212121;
    --color-accent-two: #ffffff;
    --color-accent-three: #757575;
    --color-accent-four: #2196F3;
    --color-accent-five: #afb1b8;

}